
html {
    --yes3-font-size: 14px;
    --yes3-font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    --yes3-font-weight: 400;

    --yes3-semibold-font-family: "Segoe UI Semibold", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;

    --yes3-padding: 5px;
    --yes3-margin: 10px;

 
    --yes3-button-font-family: "Segoe UI Semibold", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    --yes3-button-font-weight: 600;

    --yes3-input-font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    --yes3-input-font-size: 1rem;
    --yes3-input-font-weight: 400;

    --yes3-alert-font-family: "Segoe UI Semibold", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    --yes3-message-font-family: "Segoe UI Semibold", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;

    --yes3-td-font-weight: 400;
     
    --yes3-block-height: 50px;

    --yes3-item-description-width: 175px;
    --yes3-item-gutter-width: 30px;

    --yes3-contextmenu-font-size: 14px;
}

[data-theme="light"] {
    color-scheme: light;

    --yes3-font-color: darkslategray;
    --yes3-border-color: #000000;
    --yes3-background-color: linen;
    --yes3-divider-color: cadetblue;

    --yes3-input-color: black;
    --yes3-input-background-color: floralwhite;
    --yes3-input-border-color: grey; 
    --yes3-input-label-color: rgb(49, 148, 168);
 
    --yes3-button-color: darkslategray;
    --yes3-button-background-color: transparent;
    --yes3-button-border-color: darkslategray;
    --yes3-button-hover-color: black;
    --yes3-button-hover-background-color: indianred;

    --yes3-action-icon-color: rgb(32,32,32);

    --yes3-action-icon-light-color: linen;

    --yes3-hover-color: dodgerblue;

    --yes3-color-balloon-input: rgb(32,32,32);;
    --yes3-project-title-color: black;
 
    --yes3-dashboard-header-color: black;
    --yes3-dashboard-header-background-color: ghostwhite;
    --yes3-dashboard-row-selected-background-color: lightgrey;
 
    --yes3-panel-color: darkslategrey;
    --yes3-panel-hover-color: black;
    --yes3-panel-title-color: black;
    --yes3-panel-subtitle-color: darkcyan;
    --yes3-panel-message-color: darkslategray;
    --yes3-panel-background-color: white;
 
    --yes3-link-color-alert: indianred;
    --yes3-link-color-warning: darkorange;
    --yes3-link-color-passive: gray;
    --yes3-link-color-clickme: seagreen;
    --yes3-link-color-normal: darkslategray;
    --yes3-link-color-nominal: mediumseagreen;
    --yes3-dag-color: cadetblue;
 
    --yes3-inspector-event-color: darkslategray;
    --yes3-inspector-form-color: darkcyan;
 
    --yes3-message-dcc-color: dodgerblue;
    --yes3-message-staff-color: cadetblue;
    --yes3-message-log-color: slategray;

    /* -------------------------------------------------------*/

    --yes3-message-color: indianred;
    --yes3-message-link-color: darkslategray;

    --yes3-border: 2px solid gray;

    --yes3-description-color: darkslategray;
    
    --yes3-information-color: darkslategray;
    
    --yes3-information-em-color: black;
 
    --yes3-nonessential-information-color: gray;

    --yes3-select-color: steelblue;
 
    --yes3-alert-color: darkred;
 
    --yes3-okay-color: darkgreen;
    --yes3-warning-color: darkorange;    
    --yes3-error-color: indianred;

    --yes3-panel-header-highlight-color: white;
    --yes3-panel-form-button-color: darkslategray;
    --yes3-panel-form-button-background-color: white;
    --yes3-panel-form-button-border-color: darkslategrey;
    --yes3-panel-border-color: gray;
 
    --yes3-table-border-color: rgb(7, 55, 65);
    --yes3-table-background-color: transparent;
 
    --yes3-table-label-color: slategray;
    --yes3-table-value-color: darkgreen;
    --yes3-td-color: darkslategrey;
    --yes3-th-color: white;
    --yes3-th-background-color: rgb(7, 55, 65);
    --yes3-th-border-color: rgb(7, 55, 65);

    --yes3-highlight-color: darkslategray;
 
    --yes3-title-color: rgb(64, 64, 64);
    --yes3-subtitle-color: darkcyan;
 
    --yes3-contextmenu-title-color: darkcyan;
}

[data-theme="dark"] {
    color-scheme: dark;

    --yes3-font-color: powderblue;
    --yes3-border-color: silver;
    --yes3-background-color: rgb(24, 24, 24);
    --yes3-divider-color: silver;

    --yes3-input-color: powderblue;
    --yes3-input-background-color: black;
    --yes3-input-border-color: rgb(64, 64, 64);
    --yes3-input-label-color: rgb(49, 148, 168);
 
    --yes3-action-icon-color: rgb(49, 148, 168);

    --yes3-action-icon-light-color: rgb(49, 148, 168);

    --yes3-hover-color: dodgerblue;

    --yes3-button-color: silver;
    --yes3-button-background-color: transparent;
    --yes3-button-border-color: silver;
    --yes3-button-hover-color: white;
    --yes3-button-hover-background-color: silver;
    --yes3-color-balloon-input: silver;
    --yes3-project-title-color: white;
 
    --yes3-dashboard-header-color: linen;
    --yes3-dashboard-header-background-color: black;
    --yes3-dashboard-row-selected-background-color: #193435;
 
    --yes3-panel-color: silver;
    --yes3-panel-hover-color: white;
    --yes3-panel-title-color: linen;
    --yes3-panel-subtitle-color: cyan;
    --yes3-panel-message-color: antiquewhite;
    --yes3-panel-background-color: rgba(8, 8, 8, 1.00);

    --yes3-link-color-alert: indianred;
    --yes3-link-color-warning: darkorange;
    --yes3-link-color-passive: gray;
    --yes3-link-color-clickme: lightseagreen;
    --yes3-link-color-normal: powderblue;
    --yes3-link-color-nominal: mediumseagreen;

    --yes3-dag-color: darkturquoise;
 
    --yes3-inspector-event-color: salmon;
    --yes3-inspector-form-color: darkturquoise;
 
    --yes3-message-dcc-color: darkturquoise;
    --yes3-message-staff-color: lightsalmon;
    --yes3-message-log-color: silver;

    /* -------------------------------------------------------*/

    --yes3-message-color: lightsalmon;
    --yes3-message-link-color: darkturquoise;

    --yes3-border: 2px solid silver;

    --yes3-description-color: silver;

    --yes3-information-color: silver;
    
    --yes3-information-em-color: linen;
 
    --yes3-nonessential-information-color: gray;
 
    --yes3-select-color: skyblue;
 
    --yes3-alert-color: orangered;
 
    --yes3-okay-color: darkgreen;
    --yes3-warning-color: darkorange;    
    --yes3-error-color: indianred;

    --yes3-panel-header-highlight-color: white;
    --yes3-panel-form-button-color: silver;
    --yes3-panel-form-button-background-color: black;
    --yes3-panel-form-button-border-color: rgb(64, 64, 64);
    --yes3-panel-border-color: silver;
 
    --yes3-table-border-color: rgb(64, 64, 64);
    --yes3-table-background-color: transparent;

    --yes3-table-label-color: darksalmon;
    --yes3-table-value-color: darkturquoise;
    --yes3-td-color: silver;
    --yes3-th-color: linen;
    --yes3-th-background-color: black;
    --yes3-th-border-color: linen;

    --yes3-highlight-color: darkorange;
 
    --yes3-title-color: white;
    --yes3-subtitle-color: lightgray;
 
    --yes3-contextmenu-title-color: darkcyan;
}

html {

    font-family: var(--yes3-font-family) !important;
    font-size: var(--yes3-font-size) !important;
}

label:not(.yes3-override) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

p {
    font-size: 1rem;
}

::placeholder {
    font-size: 0.9rem;
    opacity: 0.65;
}

/* === THEME === */

/* Eyeball toggle */

.yes3-theme-switch {
    display: inline-block;
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0 !important;
}

.yes3-theme-switch input {
    display:none;
}

.yes3-theme-slider {
    background-color: var(--yes3-fmapr-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    height: 1.5rem;
}

.yes3-theme-slider:before {
    background-color: #fff;
    bottom: 0.375rem;
    content: "";
    height: 0.75rem;
    width: 0.75rem;
    left: 1px;
    position: absolute;
    transition: .4s;
}

input:checked + .yes3-theme-slider {
    background-color: var(--yes3-fmapr-color);
}

input:checked + .yes3-theme-slider:before {
    transform: translateX( calc( 0.75rem - 2px ) );
}

.yes3-theme-slider.round {
    border-radius: .75rem;
}

.yes3-theme-slider.round:before {
    border-radius: .375rem;
}

/* === ACTION ICON SUPPORT === */

i.yes3-action-icon:not(.yes3-action-icon-light) {
    color: var(--yes3-action-icon-color);
}

i.yes3-action-icon.yes3-action-icon-light {
    color: var(--yes3-action-icon-light-color);
}

i.yes3-action-icon:hover {
    cursor: pointer;
    color: var(--yes3-hover-color);
}

i.yes3-action-icon-controlpanel {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-top:0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0.5rem;
}

i.yes3-action-icon-inline {
    font-size: 1rem !important;
    line-height: 1rem !important;
    margin: 0 !important;
}

i.yes3-action-icon-gutter {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0 !important;
}

i.yes3-action-disabled {
    opacity: 0.3 !important;
}

/* === CONTAINER === */

div#yes3-container {
    min-width: 400px;
    color: var(--yes3-font-color);
    background-color: var(--yes3-background-color);
}

tr.yes3-row-selected, tr.yes3-row-selected input, tr.yes3-row-selected select {
    background-color:var(--yes3-dashboard-row-selected-background-color) !important;
}

tr.yes3-row-selected span.yes3-fmapr-redcap-element::before {
    /*content: "\25B6"; arrow */
    content: "\2714"; /* checkmark */
    font-size: 1.5rem;
    font-style: normal !important;
    margin-right: 10px;
}

.yes3-row-focused {
    background-color: rgba(65, 25, 7, 0.1) !important;
}

div#yes3-red-pointer {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--yes3-alert-color);
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    display: none;
    padding: 0;
    margin: 0;
}

.vartester {
    color: #483d8b;
 }
 
 /*
  * when displayed, grays and blocks UI (for modal dialogs)
  */
 div#yes3-screen-cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5000;
    width: 100%;
    height: 100%;
    display: none;
 }

 .yes3-flex-container-evenly-distributed {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;   
 }
 
 .yes3-flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    border: 1px solid lightgrey;
 }
 
 .yes3-flex-item {
    border: 1px solid lightgrey;
    padding: var(--yes3-padding);
    margin: var(--yes3-margin);
 }

.yes3-flex-vcenter-hleft {
    display: flex;
    justify-content: left;
    align-items: center;
}

.yes3-flex-vcenter-hright {
    display: flex;
    justify-content: right;
    align-items: center;
}

.yes3-flex-vcenter-hcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .yes3-highlight {
    color: var(--yes3-highlight-color);
 }
 
 .yes3-config-panel {
    /*   margin-bottom: calc( 2*var(--yes3-margin) ); */
    min-width: 400px;
 }
 
 .yes3-config-panel-small {
    max-width: 500px;
 }
 
 .yes3-config-panel-row {
    float: left;
    width: 100%;
    height: var(--yes3-block-height);
    line-height: var(--yes3-block-height);
    /*margin-bottom: calc(4*var(--yes3-margin));*/
 }
 
 .yes3-config-panel-row-left {
    float: left;
    margin-right: var(--yes3-margin);
    height: var(--yes3-block-height);
    line-height: var(--yes3-block-height);
 }
 
 .yes3-config-panel-row-right {
    float: right;
    margin-left: var(--yes3-margin);
    height: var(--yes3-block-height);
    line-height: var(--yes3-block-height);
 }
 
 .yes3-config-panel-title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
 }
 
 .yes3-config-panel-description {
    width: 100%;
    color: var(--yes3-description-color);
    font-weight: 800;
    font-style: italic;
    margin-top: var(--yes3-margin);
 }
 
 table.yes3-config-table {
    width: 100%;
    border: var(--yes3-border);
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: var(--yes3-margin);
 }
 
 .yes3-look-out-below {
    margin-bottom: calc(4 * var(--yes3-margin));
 }
 
 table.yes3-config-table tr:first-child td {
    padding: var(--yes3-padding);
 }
 
 table.yes3-config-table tr:not(:first-child) td {
    padding-top: 0;
    padding-bottom: var(--yes3-padding);
    padding-left: var(--yes3-padding);
    padding-right: var(--yes3-padding);
 }
 
 table.yes3-config-table td.yes3-gutter-left {
    width: var(--yes3-item-gutter-width);
    text-align: left;
    vertical-align: top;
 }
 
 table.yes3-config-table td.yes3-gutter-right {
    width: var(--yes3-item-gutter-width);
    text-align: right;
    vertical-align: top;
 }
 
 table.yes3-config-table td.yes3-config-table-item-description {
    width: var(--yes3-item-description-width);
    vertical-align: center;
 }
 
 td.yes3-divider {
    padding-top: var(--yes3-padding);
    padding-bottom: 0 !important;
 }
 
 hr.yes3-divider {
    border-top: 2px solid lightgrey;
    height: 2px;
    margin: 0;
 }
 
 div.yes3-vertical-option {
    width: 100%;
 }
 
 div.yes3-halfwidth {
    width: 50%;
 }
 
 td.yes3-config-table-item-value input[type=text] {
    display: inline-block;
 }
 
 td.yes3-config-table-item-value span {
    display: inline-block;
    font-style: italic;
 }
 
 .yes3-config-table-item-value input[type=radio], .yes3-config-table-item-value input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
    margin-right: 2px;
    *overflow: hidden;
 }
 
 .yes3-config-table-item-value label {
    margin-bottom: 0;
 }
 
 td.yes3-config-table-third {
    width: calc(0.5 * (100% - var(--yes3-item-description-width) - var(--yes3-item-gutter-width)));
 }
 
 td.yes3-config-table-third:not(.yes3-bottom-row) {
    padding-bottom: 0 !important;
 }
 
 .yes3-config-panel input[type=text], .yes3-config-panel select {
    padding: var(--yes3-padding);
    border: 1px solid var(--yes3-input-border-color);
    color: var(--yes3-input-color);
    font-family: var(--yes3-input-font-family);
    font-weight: var(--yes3-input-font-weight);
    border-radius: 4px;
 }
 
 .yes3-config-table-item-value input.yes3-input-large, tbody#yes3-trk-table-body input[type=text] {
    width: 100%;
 }
 
 .yes3-config-table-item-value-text-readonly {
    padding: var(--yes3-padding);
    border: 1px solid transparent;
    color: var(--yes3-input-color);
    font-family: var(--yes3-input-font-family);
    font-weight: var(--yes3-input-font-weight);
    width: 100%;
 }
 
 .yes3-config-table-item-value input.yes3-input-small {
    width: 50px;
    margin-right: var(--yes3-margin);
 }
 
 .yes3-config-table-item-value input.yes3-input-medium {
    width: 100px;
    margin-right: var(--yes3-margin);
 }
 
 .yes3-config-panel select {
    width: 100%;
 }
 
 .yes3-sortable .yes3-config-table-item-description:hover {
    cursor: move;
 }
 
 .yes3-config-table-collapse {
    float: left;
    vertical-align: top;
    margin-right: calc(2 * var(--yes3-margin));
 }
 
 .yes3-config-table-remove {
    float: right;
    vertical-align: top;
 }
 
 .yes3-config-table-add {
    float: left;
    padding: var(--yes3-padding);
    border: 1px solid transparent;
 }
 
 table.yes3-config-table i, div.yes3-config-table-add i {
    opacity: 0.4;
 }
 
 table.yes3-config-table, div.yes3-config-table-add i:hover {
    opacity: 1.0;
 }
 
 a:focus, i:focus, a:hover, i:hover {
    outline: none !important;
 }

 .yes3-block {
     height: var(--yes3-block-height);
     line-height: var(--yes3-block-height);
 }
 
 input[type=button].yes3-large-button {
    float: left;
    margin: 0;
    color: var(--yes3-button-color);
    font-family: var(--yes3-input-font-family);
    font-weight: var(--yes3-button-font-weight);
    background-color: var(--yes3-button-background-color);
    padding-left: calc(6 * var(--yes3-padding));
    padding-right: calc(6 * var(--yes3-padding));
    padding-top: 0;
    padding-bottom: 0;
    height: var(--yes3-block-height);
    border: 2px solid var(--yes3-border-color);
    border-radius: calc(0.5 * var(--yes3-block-height));
    width: 100%;
 }
 
 input[type=button].yes3-small-button {
    float: left;
    color: var(--yes3-button-color);
    background-color: var(--yes3-button-background-color);
    /*
    padding-left: calc(3 * var(--yes3-padding));
    padding-right: calc(3 * var(--yes3-padding));
     */
    padding-top: 0;
    padding-bottom: 0;
    height: calc(0.9 * var(--yes3-block-height));
    margin-top: calc(0.05 * var(--yes3-block-height));
    margin-bottom: calc(0.05 * var(--yes3-block-height));
    /*line-height: calc(0.9 * var(--yes3-block-height));*/
    border: 1px solid var(--yes3-border-color);
    border-radius: calc(0.4 * var(--yes3-block-height));
    /*width: 100%;*/
    max-width: 240px;
    min-width: 120px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 input[type=button].yes3-large-button:hover,
 input[type=button].yes3-small-button:hover {
    color: var(--yes3-button-hover-color);
    background-color: var(--yes3-button-hover-background-color);
    border-color: var(--yes3-button-hover-background-color);
    cursor: pointer;
 }

 select.yes3-select {
    font-size: 1rem;
    color: var(--yes3-input-color);
    background-color: var(--yes3-input-background-color);
    border: 1px solid var(--yes3-input-border-color);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 4px;
    width: 100%;
    line-height: 0 !important;
}

 div.yes3-authenticated, div.yes3-not-authenticated {
    display:none;
 }
 
 table#yes3-project-settings {
    width: 100%;
 }
 
 table#yes3-project-settings td {
    font-size: 0.8rem;
    height: 0.9rem;
    line-height: 0.9rem;
    vertical-align: top;
 }
 
 td.yes3-settings-label {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    color: var(--yes3-table-label-color);
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 td.yes3-settings-value {
    color: var(--yes3-table-value-color);
 }
 
 div#yes3-config-save-message {
 }
 
div.yes3-information {
    width: 100%;
    color: var(--yes3-information-color);
    font-family: var(--yes3-font-family);
    font-size: var(--yes3-font-size);
    font-weight: var(--yes3-font-weight);
    margin-top: calc( 2*var(--yes3-margin));
}

div.yes3-information h1 {
    color: var(--yes3-information-color);
    font-family: var(--yes3-font-family);
    font-weight: 600;
    font-size: var(--yes3-font-size);
}

div.yes3-information p {
    color: var(--yes3-information-color);
    font-family: var(--yes3-font-family);
    font-weight: 400;
    font-size: var(--yes3-font-size);
}

.yes3-information-em {
    color: var(--yes3-information-em-color);
    font-family: var(--yes3-font-family);
    font-weight: 800;
}

.yes3-information a {
    color: var(--yes3-information-em-color);
    font-family: var(--yes3-font-family);
    font-style: italic;
    text-decoration: none;
}

.yes3-information a:hover {
    color: var(--yes3-alert-color);
    font-family: var(--yes3-font-family);
    font-style: italic;
    text-decoration: underline;
}

div#yes3-message {
    display: none;
    color: var(--yes3-message-color);
    font-family: var(--yes3-message-font-family);
    font-size: 1rem;
    width: 100%;
 }
 
 div#yes3-message a {
    text-decoration: underline;
    color: var(--yes3-message-color);
    font-family: var(--yes3-message-font-family);
 }
 
 span.yes3-required {
    color: var(--yes3-alert-color);
    font-family: var(--yes3-alert-font-family);
 }
 
 .yes3-alert {
    color: var(--yes3-alert-color) !important;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.yes3-error {
    color: indianred !important;
    /*background-color: transparent !important;*/
    font-weight: 600 !important;
}

td:nth-child(1).yes3-error::before {
    content: "\2639"; /* frowny face */
    font-size: 2rem;
    margin-right: 4px;
    font-weight: 400 !important;
    vertical-align: middle;
}

input.yes3-error, select.yes3-error {
    border-color: indianred !important;
}

table:not(.yes3-removed) .yes3-if-removed {
    display: none;
}

table.yes3-removed .yes3-if-removed {
    display: block;
    color: var(--yes3-error-color) !important;
    font-weight: 600 !important;    
}

 .yes3-config-italicized-subdued {
    font-style: italic;
    opacity: 0.75;
 }
 
 .yes3-bold {
    font-weight: 800;
 }
 
 .yes3-multisite-only {
    display: none;
 }
 
 /* --- PANELS --- */

 
.yes3-row-selected {
    background-color: rgba(211, 211, 211, 0.233);
}

.yes3-drag-handle:hover {
    cursor: move;
}

 div#yes3-contextmenu-panel {
    display: none;
    color: var(--yes3-panel-color);
    background-color: var(--yes3-panel-background-color);
    padding-left: calc(4*var(--yes3-padding));
    padding-right: calc(4*var(--yes3-padding));
    padding-top: calc(2*var(--yes3-padding));
    padding-bottom: calc(2*var(--yes3-padding));
    position: relative;
    max-width: 400px;
    border: 1px solid lightgrey;
    border-radius: 0;
    box-shadow: 0 0 8px 1px rgb(175, 175, 175);
 }

 div#yes3-contextmenu-panel-title {
    color: var(--yes3-contextmenu-title-color);
 }

 div.yes3-contextmenu-panel-row {
    font-size: var(--yes3-contextmenu-font-size) !important;
    font-family: var(--yes3-contextmenu-font-family) !important;
    float: left;
    clear: both;
    width: 100%;
 }

 div#yes3-contextmenu-content > div.yes3-contextmenu-panel-row > table > tbody > tr > td:first-child {
     padding-right: 20px;
 }
 
 .yes3-panel {
    display: none;
    color: var(--yes3-panel-color);
    background-color: var(--yes3-panel-background-color);
    padding-top: calc( 4 * var(--yes3-padding) );
    padding-bottom: calc( 2 * var(--yes3-padding) );
    padding-left: calc( 4 * var(--yes3-padding) );
    padding-right: calc( 4 * var(--yes3-padding) );
    /*border: 1px solid black;*/
    min-height: 100px;
    min-width: 360px;
    max-width: 1600px;
    position: relative;
    border-radius: 0;
    box-shadow: 0 0 6px 1px rgba(100, 100, 100, 1.0);
    -webkit-box-shadow: 0 0 6px 1px rgba(100, 100, 100, 1.0);
    -moz-box-shadow: 0 0 6px 1px rgba(100, 100, 100, 1.0);
 }

 #yes3-hello-panel, #yes3-yesno-panel {
     width: 60% !important;
     max-width: 600px !important;
 }
 
 .yes3-panel p {
    margin-top: 0;
    margin-bottom: 8px;
 }
 
 .yes3-panel a {
    color: var(--yes3-panel-color) !important;
 }
 
 .yes3-panel a:hover {
    outline: none !important;
    color: var(--yes3-panel-hover-color) !important;
 }
 
 .yes3-panel-header-row {
    font-family: inherit;
    font-size: 2rem;
    color: var(--yes3-panel-color);
    font-weight: 200;
    float: left;
    clear: both;
    width: 100%;
    margin-top: 0;
    margin-bottom: var(--yes3-margin);
    cursor: move;
    height: 2rem;
    line-height: 2rem;
 }
 
 .yes3-panel-header-highlight {
    color: var(--yes3-panel-header-highlight-color);
    font-weight: 200;
 }
 
 .yes3-panel-title {
    font-family: inherit;
    font-size: 2rem;
    color: var(--yes3-panel-title-color);
    font-weight: 200;
    font-style: normal;
 }
 
 .yes3-panel-subtitle {
    font-family: inherit;
    font-size: 1.2rem;
    color: var(--yes3-panel-subtitle-color);
    font-weight: 500;
    font-style: normal;
 }
 
 .yes3-panel-footer {
    float: left;
    clear: both;
    width: 100%;
    cursor: move;
 }
 
 .yes3-panel-close-link-block {
    display: inline-block;
    vertical-align: top;
 }
 
 .yes3-panel-content {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: 400;
    float: left;
    clear: both;
    width: 100%;
    /* margin-top: 1em; */
    margin-bottom: 12px;
    /*overflow-y: scroll;*/
 }
 
 .yes3-panel-row,
 .yes3-panel-top-row,
 .yes3-panel-bottom-row,
 .yes3-panel-message {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    font-weight: 400;
    float: left;
    clear: both;
    width: 100%;
 }
 
 .yes3-panel-row {
    margin-top: var(--yes3-margin);
    margin-bottom: var(--yes3-margin);
 }
 
 .yes3-panel-top-row {
    margin-top: 0;
    margin-bottom: var(--yes3-margin);
 }
 
 .yes3-panel-bottom-row {
    margin-top: var(--yes3-margin);
    margin-bottom: 0;
 }
 
 .yes3-panel-message {
    color: var(--yes3-panel-message-color);
    margin-top: calc( 3 * var(--yes3-margin) );
    margin-bottom: var(--yes3-margin);
    font-family: var(--yes3-panel-message-font-family);
 }
 
 div.yes3-panel-row-left {
    float: left;
    margin-right: var(--yes3-margin);
    height: 100%;
 }
 
 div.yes3-panel-row-left + div.yes3-panel-row-left {
    margin-left: 24px;
    margin-left: var(--yes3-margin);
    vertical-align: middle;
 }
 
 .yes3-panel-row-right {
    float: right;
    height: 100%;
    vertical-align: middle;
    margin-left: var(--yes3-margin);
 }
 
 .yes3-panel-row-middle {
    text-align: center;
 }
 
 .yes3-panel-row a {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
 }

 .yes3-panel-row a:hover {
     color: var(--yes3-alert-color);
 }
 
 .yes3-panel label {
    font-weight: 600;
    color: var(--yes3-input-label-color);
 }
 
 div.yes3-panel ul ul {
    font-weight: 600;
    opacity: 85%;
 }
 
 .yes3-panel form input[type=text], .yes3-panel form input[type=password] {
    border: 1px solid var(--yes3-input-border-color);
    color: var(--yes3-input-color);
    padding: 6px;
    border-radius: 4px;
    width: 300px;
 }
 
 input[type=text].yes3-number {
    color: var(--yes3-input-color);
    padding: 6px;
    border: 1px solid var(--yes3-input-border-color);
    border-radius: 4px;
    width: 50px;
 }
 
 .yes3-panel form button, .yes3-panel input[type=button], button[type=submit].yes3 {
    height: calc(0.8* var(--yes3-block-height));
    min-width: 120px;
    padding-left: calc(2*var(--yes3-padding));
    padding-right: calc(2*var(--yes3-padding));
    color: var(--yes3-panel-form-button-color);
    background-color: var(--yes3-panel-form-button-background-color);
    border: 1px solid var(--yes3-panel-form-button-border-color);
    border-radius: 4px;
    outline: none;
 }
 
 .yes3-panel form button:hover, .yes3-panel input[type=button]:hover, button[type=submit].yes3:hover {
    background-color: var(--yes3-panel-form-button-color);;
    color: var(--yes3-panel-form-button-background-color);
    border: 1px solid var(--yes3-panel-form-button-color);
    cursor: pointer;
 }
 
 input[type=button].yes3-button {
    float: left;
    margin-right: 10px;
    border-radius: 20px;
    height: 40px;
    width: auto !important;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--yes3-button-color);
    background-color: var(--yes3-button-background-color);
    border-color: var(--yes3-button-border-color);
    font-family: var(--yes3-button-font-family);
 }
 
 input[type=button].yes3-button:hover {
    color: var(--yes3-button-hover-color);
    background-color: var(--yes3-button-hover-background-color);
    border-color: var(--yes3-button-hover-background-color);
    cursor: pointer;
 }

/*
* for divs used as progress bars twixt 'okay' and 'cancel' buttons
*/
.yes3-panel-between-the-buttons {
    width: calc(100% - 300px);
    border: 1px solid var(--yes3-panel-form-button-color);
    background-color: transparent;
    visibility: hidden;
}

.yes3-panel-between-the-buttons div {
    width: 0;
    height: 1.5rem;
    border: 0;
    color: var(--yes3-panel-form-button-background-color);
    background-color: var(--yes3-panel-form-button-color);
}

 .yes3-panel td, .yes3-panel th {
    vertical-align: middle;
    padding: 5px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-family: var(--yes3-td-font-family);
 }
 
 .yes3-panel td {
    color: var(--yes3-td-color);
    background-color: transparent;
 }
 
 .yes3-panel th {
    color: var(--yes3-th-color);
    background-color: transparent;
 }
 
 .yes3-alert-message {
    font-family: var(--yes3-alert-font-family);
    color: var(--yes3-alert-color);
 }


/* CHECKBOXES */

/* Customize the label (the container) */
.yes3-checkmarkContainer {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-left: 0;
    cursor: pointer;
    /*
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    */
    font-family: var(--yes3-semibold-font-family);
    color: var(--yes3-input-label-color);
    font-size: 0.9rem;
 
 }
 
 /* Hide the browser's default checkbox */
 .yes3-checkmarkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
 }
 
 /* Create a custom checkbox, same dimensions and color as balloon radios */
 .yes3-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 2px solid var( --yes3-input-label-color );
 }
 
 /* Checkmark/indicator: rotated rectangle with 2 sides visible */
 .yes3-checkmarkContainer .yes3-checkmark::after {
    content: "";
    position: absolute;
    display: none;

    left: 3px;
    top: 0;
    width: 5px;
    height: 9px;
    border: solid;
    border-color: var(---yes3-input-label-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
 }
 
 /* Show the checkmark when checked */
 .yes3-checkmarkContainer input:checked ~ .yes3-checkmark::after {
    display: block;
 }
 
 /* RADIO BALLOONS  */
 
 input[type=radio].balloon, input[type=checkbox].balloon {
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
 }
 
 input[type=radio].balloon + label:before, input[type=checkbox].balloon + label:before {
    height: 14px;
    width: 14px;
    margin-right: 3px;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    border: 1px solid var(--yes3-input-label-color);
 }
 
 input[type=radio].balloon + label + input[type=radio].balloon + label:before, input[type=checkbox].balloon + label + input[type=checkbox].balloon + label:before {
    margin-left: 6px;
 }
 
 input[type=radio].balloon:checked + label:before, input[type=checkbox].balloon:checked + label:before {
    background: var(--yes3-input-label-color);
    border-color: var(--yes3-input-label-color);
 }
 
 input[type=radio].balloon:hover + label:before, input[type=checkbox].balloon:hover + label:before {
    border: 2px solid var(--yes3-input-label-color);
    cursor: pointer;
 }
 
 input[type=radio].balloon + label:before {
    border-radius: 50%;
    margin-bottom: 3px;
 }
 
 input[type=checkbox].balloon + label:before {
    border-radius: 50%;
    margin-bottom: 3px;
 }
 
 .yes3-title {
    font-size: 2rem;
    font-weight: 800;
    color: var(--yes3-title-color);
 }
 
 .yes3-subtitle {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: -1px;
    word-spacing: -3px;
    color: var(--yes3-title-color);
 }
 
 .yes3-inline-parent {
    display: block;
    width: 100%;
    margin-bottom: calc(2 * var(--yes3-margin));
 }
 
 .yes3-inline-element {
    vertical-align: middle;
    display: inline-block;
 }
 
 .yes3-inline-element-right {
    vertical-align: middle;
    text-align: right;
    display: inline-block;
 }
 
 div#niayes3-study-info {
    max-width: 500px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .yes3-ellipsis {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 .yes3-float-left {
    float: left !important;
    width: auto !important;
    margin-right: var(--yes3-margin);
 }

 .yes3-float-right {
    float: right !important;
    width: auto !important;
    margin-left: var(--yes3-margin);
 }
 
 th label {
    opacity: 0.75 !important;
 }

 /* === DASHBOARD TABLE === */
  
 table.yes3-dashboard {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: var(--yes3-margin);
 }
  
 table.yes3-scrollable {
    table-layout: fixed;
 }
 
 table.yes3-dashboard thead {
    background-color: var(--yes3-th-background-color);
    border-top: 1px solid var(--yes3-th-border-color);
    border-bottom: 1px solid var(--yes3-th-border-color);
    border-left: 0;
    border-right: 0;
    width: 100%;
 }
 
 table.yes3-scrollable thead tr {
    display: block;
 }
 
 table.yes3-dashboard tbody {
    width: 100%;
    background-color: var(--yes3-table-background-color);
 }

 table.yes3-scrollable tbody {
    display: block;
    overflow: auto;
    height: 600px;
 }
 
 table.yes3-dashboard th, table.yes3-dashboard td {
    padding: var(--yes3-padding);
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 table.yes3-dashboard th {
    color: var(--yes3-th-color);
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
 }
 
 table.yes3-dashboard td {
    color: var(--yes3-td-color);
    background-color: var(--yes3-table-background-color);
    font-size: 1rem;
    font-weight: 400;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--yes3-table-border-color);
 }

 table.yes3-dashboard td input[type=text], table.yes3-dashboard td select {
    font-family: var(--yes3-input-font-family);
    font-size: var(--yes3-input-font-size);
    font-weight: var(--yes3-input-font-weight);
    color: var(--yes3-input-color);
    background-color: var(--yes3-input-background-color);
    border: 1px solid var(--yes3-input-border-color);
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
 }

 .yes3-when-loaded {
     display: none;
 }