html {

    --yes3-fmapr-divider-color: sandybrown;
    --yes3-fmapr-title-color: rgb(7, 55, 65);
 
    --yes3-fmapr-color: rgb(7, 55, 65);
    --yes3-fmapr-border-color: rgb(7, 55, 65);
    --yes3-fmapr-header-color: white;
 
    --yes3-fmapr-input-color: black;
    --yes3-fmapr-input-background-color: white;
    --yes3-fmapr-input-border-color: lightgrey;

    --yes3-fmapr-redcap-element-color: slategrey;
 
    --yes3-fmapr-gutter-width: 30px;

    --yes3-fmapr-control-color: rgb(7, 55, 65);
    --yes3-fmapr-control-background-color: white;
    --yes3-fmapr-control-border-color: rgb(7, 55, 65);

    --yes3-fmapr-dirty-color: orangered;

    --yes3-fmapr-message-color-normal: rgb(7, 55, 65);
    --yes3-fmapr-message-color-urgent: indianred;
    
 
 }

/**
 * override scrollable element colors
 */ 

 .yes3-row-selected {
    background-color: rgb(7, 55, 65, 0.1) !important;
}

.yes3-row-focused {
    background-color: rgba(65, 25, 7, 0.1) !important;
}

table.yes3-scrollable {
    border: 1px solid var(--yes3-fmapr-color) !important;
}

table.yes3-scrollable thead {
    background-color: var(--yes3-fmapr-color) !important;
}
 
table.yes3-scrollable thead tr {
    display: block;
}
 
table.yes3-scrollable tbody {
    background-color: transparent !important;
}
 
table.yes3-scrollable td {
    border-bottom: 1px solid var(--yes3-fmapr-color) !important;
}

/* === FIELD INSERTION === */

div#yes3-fmapr-fieldinsertion-panel select {
    width: 100% !important;
    padding: 10px;
    color: var(--yes3-panel-color);
    background-color: transparent;
    border: 1px solid var(--yes3-panel-border-color);
    border-radius: 4px;
    max-width: 400px;
    min-width: 150px;

}

div#yes3-fmapr-fieldinsertion-panel {
    width: 90% !important;
    max-width: 600px !important; 
}

td.yes3-fmapr-fieldinsertion-td-left {
    width: 30%;
}

td.yes3-fmapr-fieldinsertion-td-right {
    width: 70%;
}

/* === MAPPER === */

.yes3-fmapr-msgclass-normal {
    color: var(--yes3-fmapr-message-color-normal) !important;
    font-weight: normal !important;
}

.yes3-fmapr-msgclass-urgent {
    color: var(--yes3-fmapr-message-color-urgent) !important;
    font-weight: normal !important;
}

.yes3-fmapr-dirty {
    color: var(--yes3-fmapr-message-color-urgent) !important;
    font-size: 2rem !important;
}

.yes3-fmapr-action-icon {
    font-size: 1.25rem;
    color: rgb(7, 55, 65, 0.8);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.yes3-fmapr-action-icon:not(.yes3-action-disabled):hover {
    cursor: pointer;
    color: dodgerblue;
}

.yes3-action-disabled {
    opacity: 0.3 !important;
}

.yes3-fmapr-redcap-element {
    color: var(--yes3-fmapr-redcap-element-color);
    font-style: italic !important;
}

.yes3-fmapr-redcap-element:hover {
    cursor: pointer;
    color: var(--yes3-alert-color);
}

 div#yes3-fmapr-container {
     min-width: 400px;
 }

 .yes3-fmapr-row-selected {
     background-color: rgb(9, 63, 73, 0.25);
 }

div#yes3-fmapr-footer {
     width: 100%;
     margin-top: 1rem;
}

div#yes3-fmapr-status {
    color: gray;
    font-size: 11px;
    line-height: 13px;
}

 a.yes3-fmapr-value-picker-toggler, a.yes3-fmapr-lov-toggler {
    opacity: 50% !important;
 }
 
 a.yes3-fmapr-value-picker-toggler {
    display:none;
 }
 
 /*
  * mapper...
  */

tr.yes3-lov {
    display: none;
}

 div#yes3-fmapr-wrapper div.col-md-8,
 div#yes3-fmapr-wrapper div.col-md-4 {
    margin-bottom: calc( 2 * var(--yes3-margin) );
 }
 
 div.yes3-fmapr-tirtle {
    font-size: 1.25rem;
    height: calc(0.8 * var(--yes3-block-height) + 2 * var(--yes3-margin));
    line-height: calc(0.8 * var(--yes3-block-height) + 2 * var(--yes3-margin));
    font-weight: 800;
    float: left;
 }


 .yes3-fmapr-title {
    font-size: 2rem;
    font-weight: 800;
    color: var(--yes3-fmapr-title-color);
 }
 
 .yes3-fmapr-subtitle {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: -1px;
    word-spacing: -3px;
    color: var(--yes3-fmapr-title-color);
 }
 
 input.yes3-fmapr-button {
    float: right !important;
    height: calc(0.8 * var(--yes3-block-height)) !important;
    max-width: 180px !important;
 }
 
 .yes3-block select {
    color: var(--yes3-fmapr-control-color);
    background-color: var(--yes3-fmapr-control-background-color);
    border: 1px solid var(--yes3-fmapr-control-border-color);
    height: calc(0.8 * var(--yes3-block-height)) !important;
    margin-top: calc(0.1 * var(--yes3-block-height)) !important;
    padding-left: calc(2*var(--yes3-padding));
    padding-right: calc(2*var(--yes3-padding));
    font-weight: var(--yes3-input-font-weight);
    border-radius: 3px;
    width: 100%;
    line-height: 0 !important;}
 
.yes3-block input[type=button] {
    color: var(--yes3-fmapr-control-color);
    background-color: var(--yes3-fmapr-control-background-color);
    border: 1px solid var(--yes3-fmapr-control-border-color);
    height: calc(0.8 * var(--yes3-block-height)) !important;
    margin-top: calc(0.1 * var(--yes3-block-height)) !important;
    padding-left: calc(2*var(--yes3-padding));
    padding-right: calc(2*var(--yes3-padding));
    font-weight: var(--yes3-input-font-weight);
    border-radius: calc(0.4 * var(--yes3-block-height)) !important;
    width: 100%;
    line-height: 0 !important;
}

.yes3-block input[type=button]:hover {
    cursor: pointer;
    color: var(--yes3-fmapr-control-background-color);
    background-color: var(--yes3-fmapr-control-color);
}

.yes3-block div {
    height: calc(0.8 * var(--yes3-block-height)) !important;
    line-height: calc(0.8 * var(--yes3-block-height)) !important;
    margin-top: calc(0.1 * var(--yes3-block-height)) !important;
}
 
 table.yes3-fmapr {
    width: 100%;
    table-layout: fixed;
 }
 
 div.yes3-fmapr-footnote {
    margin-top: 0;
    margin-left: 10px;
    float: left;
    clear: both;
    margin-bottom: calc( 4 * var(--yes3-margin) );
 }
 
 table.yes3-fmapr td {
    border-bottom: 1px solid;
    border-top: 0 !important;
    font-weight: 600;
    padding: var(--yes3-padding);
    overflow: hidden;
 }
 
 table.yes3-fmapr th {
    border: 1px solid;
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: calc( 2 * var(--yes3-padding) );
    padding-bottom: calc( 2 * var(--yes3-padding) );
    padding-left: var(--yes3-padding);
    padding-right: var(--yes3-padding);
 }
 /*
 table.yes3-fmapr td, table.yes3-fmapr th {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0;
 }
 */
 
 table.yes3-fmapr td select
 , table.yes3-fmapr th select
 , table.yes3-fmapr td input[type=text]{
    font-family: var(--yes3-input-font-family);
    border: 2px solid;
    border-radius: 4px;
    padding-left: calc( 2 * var(--yes3-padding) );
    padding-right: calc( 2 * var(--yes3-padding) );
    padding-top: var(--yes3-padding);
    padding-bottom: var(--yes3-padding);
    background-color: transparent;
    width: 100%;
 }
 
 table.yes3-fmapr td input[type=text].yes3_field_autocomplete {
    width: 100% !important;
 }
 
 
 table.yes3-fmapr td select:hover
 , table.yes3-fmapr th select:hover {
    cursor: pointer;
 }
 
 div.yes3-fmapr td.yes3-middling
 , div.yes3-fmapr th.yes3-middling
 {
    width:  calc( 0.5*(100% - var(--yes3-fmapr-gutter-width)) );
    vertical-align: middle;
    text-align: left;
 }
 
 div.yes3-fmapr td.yes3-3
 , div.yes3-fmapr th.yes3-3
 {
    width: calc( 0.3333*(100% - var(--yes3-fmapr-gutter-width)) );
 
    vertical-align: middle;
    text-align: left;
 
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 div.yes3-fmapr td.yes3-23
 , div.yes3-fmapr th.yes3-23
 {
    width: calc( 0.6667*(100% - var(--yes3-fmapr-gutter-width)) );
 
    vertical-align: middle;
    text-align: left;
 
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
 }
 
 div.yes3-fmapr td.yes3-gutter-left, div.yes3-fmapr th.yes3-gutter-left {
    width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
    min-width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
    max-width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
 
    vertical-align: top;
    text-align: left;
 }
 
 div.yes3-fmapr td.yes3-gutter-right, div.yes3-fmapr th.yes3-gutter-right {
    width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
    min-width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
    max-width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
 
    vertical-align: middle;
    text-align: center;
 }
 
 div.yes3-fmapr td.yes3-gutter-right-top, div.yes3-fmapr th.yes3-gutter-right-top {
    width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
    min-width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
    max-width: var(--yes3-fmapr-gutter-width); /* was 2.5% */
 
    vertical-align: top;
    text-align: right;
 }

 tr.yes3-fmapr-lov {
     display: none;
 }
 
 div.yes3-fmapr td.yes3-fmapr-lov {
    font-weight: 400 !important;
    font-style: italic;
 }
 
 table.yes3-fmapr td.yes3-site-basis, table.yes3-fmapr th.yes3-site-basis {
    text-align: center;
 }
 
 .yes3-fmapr-subtirtle {
    font-size: 1.1rem;
    font-weight: 600;
 }
 
 .yes3-fmapr-divider {
    width: 100%;
    margin-top: 0;
    margin-bottom: calc( 2 * var(--yes3-margin) );
    border-top: 2px solid;
 }

 
 input[type=text].yes3-fmapr-input-lov {
    margin-left: 10%;
    width: 90% !important;
 }
 

 div.yes3-fmapr-value-picker-wrapper {
    margin-left: 10%;
    width: 90% !important;
    display: none;
 }
 
 table.yes3-fmapr input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -2px;
    margin-right:2px;
    *overflow: hidden;
 }
 
 table.yes3-fmapr label {
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
 }
 
 /*
  * field mapper color scheme
  */
 
 div.yes3-fmapr .yes3-fmapr-title,
 div.yes3-fmapr .yes3-fmapr-subtitle
 {
    color: var(--yes3-fmapr-color) !important;
 }
 
 div.yes3-fmapr th.yes3-header {
    color: var(--yes3-fmapr-header-color) !important;
 }
 
 div.yes3-fmapr .yes3-fmapr-divider {
    border-color: var(--yes3-fmapr-border-color);
 }
 
 div.yes3-fmapr table.yes3-fmapr td select
 , div.yes3-fmapr table.yes3-fmapr td input[type=text] {
    color: var(--yes3-fmapr-input-color);
    border-color: var(--yes3-fmapr-input-border-color) !important;
 }
 
 div.yes3-fmapr table.yes3-fmapr th select
 , div.yes3-fmapr table.yes3-fmapr th input[type=text] {
    color: white !important;
    background-color: var(--yes3-fmapr-color) !important;
    border-color: white !important;
 }
 
 div.yes3-fmapr table.yes3-fmapr td {
    color: var(--yes3-fmapr-color);
 }
 
 div.yes3-fmapr table.yes3-fmapr th {
    color: white;
    background-color: var(--yes3-fmapr-color);
    border-color: var(--yes3-fmapr-border-color);
 }
 
 div.yes3-fmapr input[type=button].yes3-small-button {
    color: var(--yes3-fmapr-color) !important;
    background-color: transparent;
    border-color: var(--yes3-fmapr-color) !important;
 }
 
 div.yes3-fmapr input[type=button].yes3-small-button:hover {
    cursor: pointer;
    color: white !important;
    background-color: var(--yes3-fmapr-color) !important;
    border-color: var(--yes3-fmapr-color) !important;
 }
 
 div.yes3-fmapr > div > a, div.yes3-fmapr td > a {
    color: var(--yes3-fmapr-color);
 }
 
 div.yes3-fmapr th > a {
    color: white !important;
 }
 
 div.yes3-fmapr td.yes3-td-left {
    border-top-color: var(--yes3-fmapr-border-color);
    border-bottom-color: var(--yes3-fmapr-border-color);
    border-left-color: var(--yes3-fmapr-border-color) !important;
    border-right-color: transparent !important;
 }
 
 div.yes3-fmapr td.yes3-td-right {
    border-top-color: var(--yes3-fmapr-border-color);
    border-bottom-color: var(--yes3-fmapr-border-color);
    border-left-color: transparent !important;
    border-right-color: var(--yes3-fmapr-border-color) !important;
 }
 
 div.yes3-fmapr td.yes3-td-middle {
    border-top-color: var(--yes3-fmapr-border-color);
    border-bottom-color: var(--yes3-fmapr-border-color);
    border-left-color: transparent !important;
    border-right-color: transparent !important;
 }
 