/* === SETTINGS === */

div.yes3-fmapr-settings-section {
    padding-top: 1em;
    padding-bottom: 1em;;
    color: var(--yes3-panel-title-color);
}

table.yes3-fmapr-settings {
    border-collapse: collapse;
}

table.yes3-fmapr-settings td,
table.yes3-fmapr-editor td {
    color: var(--yes3-td-color);
    background-color: var(--yes3-table-background-color);
    font-size: var(--yes3-font-size);
    font-weight:  var(--yes3-font-weight) !important;
    border: 0;
    padding-right: 1em;
    padding-top: 0.5em;
    /*height: 2.5em;*/
 }

 table.yes3-fmapr-settings td input[type=text],
 table.yes3-fmapr-editor td input[type=text]
 {
     /*font-family: var(--yes3-input-font-family); */
     font-size: var(--yes3-input-font-size);
     font-weight: var(--yes3-input-font-weight);
     color: var(--yes3-input-color);
     background-color: var(--yes3-input-background-color);
     border: 1px solid var(--yes3-input-border-color);
     border-radius: 0;
     padding-left: var(--yes3-input-font-size);
     padding-right: var(--yes3-input-font-size);
     padding-top: var(--yes3-padding);
     padding-bottom: var(--yes3-padding);
 }

 table.yes3-fmapr-settings td select,
 table.yes3-fmapr-editor td select
 {
     /*font-family: var(--yes3-input-font-family); */
     font-size: var(--yes3-input-font-size);
     font-weight: var(--yes3-input-font-weight);
     color: var(--yes3-input-color);
     background-color: var(--yes3-input-background-color);
     border: 1px solid var(--yes3-input-border-color);
     border-radius: 0;
     padding-left: calc(var(--yes3-input-font-size) - 4px); /* ?? helps to align with input element padding */
     padding-right: var(--yes3-input-font-size);
     padding-top: var(--yes3-padding);
     padding-bottom: var(--yes3-padding);
}

table.yes3-fmapr-settings td select,
table.yes3-fmapr-settings td input[type=text] {
    width: 200px;
}

table.yes3-fmapr-editor td select,
table.yes3-fmapr-editor td input[type=text] {
    width: 300px;
}

/* === FIELD INSERTION === */

div#yes3-fmapr-fieldinsertion-panel select {
    width: 100% !important;
    max-width: 400px;
    min-width: 150px;
}

div#yes3-fmapr-fieldinsertion-panel {
    width: 90% !important;
    max-width: 600px !important; 
}

td.yes3-fmapr-fieldinsertion-td-left {
    width: 30%;
}

td.yes3-fmapr-fieldinsertion-td-right {
    width: 70%;
}

th i.yes3-fmapr-item-editor {
    color: var(--yes3-th-title-color);
}

td i.yes3-fmapr-item-editor {
    color: var(--yes3-color);
}

div.yes3-fmapr td.yes3-gutter-left, div.yes3-fmapr th.yes3-gutter-left {
    width: var(--yes3-fmapr-gutter-width); 
    min-width: var(--yes3-fmapr-gutter-width); 
    max-width: var(--yes3-fmapr-gutter-width); 
 
    vertical-align: top;
    text-align: left;
}
 
div.yes3-fmapr td.yes3-gutter-right, 
div.yes3-fmapr th.yes3-gutter-right
{
    width: var(--yes3-fmapr-gutter-width); 
    min-width: var(--yes3-fmapr-gutter-width); 
    max-width: var(--yes3-fmapr-gutter-width); 
 
    vertical-align: middle;
    text-align: center;
}

th.yes3-fmapr-row-number,
td.yes3-fmapr-row-number {

    width: calc(2 * var(--yes3-fmapr-gutter-width)) !important; 
    min-width: calc(2 * var(--yes3-fmapr-gutter-width)) !important; 
    max-width: calc(2 * var(--yes3-fmapr-gutter-width)) !important; 
 
    vertical-align: middle !important;
    text-align: center !important;

    font-size: 0.8rem !important;

    opacity: 0.5 !important;
}

td.yes3-fmapr-redcap-object-editor {
    width: calc(2 * var(--yes3-fmapr-gutter-width)) !important;
    min-width: calc(2 * var(--yes3-fmapr-gutter-width)) !important;
    max-width: calc(2 * var(--yes3-fmapr-gutter-width)) !important;
    vertical-align: middle !important;
    text-align: center !important;
}

td.yes3-fmapr-redcap-object-type {
    width: calc(2 * var(--yes3-fmapr-gutter-width)) !important;
    min-width: calc(2 * var(--yes3-fmapr-gutter-width)) !important;
    max-width: calc(2 * var(--yes3-fmapr-gutter-width)) !important;
}

td.yes3-fmapr-redcap-object-event {
    width: calc(4 * var(--yes3-fmapr-gutter-width)) !important;
    min-width: calc(4 * var(--yes3-fmapr-gutter-width)) !important;
    max-width: calc(4 * var(--yes3-fmapr-gutter-width)) !important;
}
/*
td.yes3-fmapr-row-number {

    border-left:  1px solid var(--yes3-table-border-color) !important;
    border-right: 1px solid var(--yes3-table-border-color) !important;
}
*/
td.yes3-fmapr-row-number:hover {
    background-color: var(--yes3-fmapr-row-selected-color) !important;
    cursor: pointer;
}
 
div.yes3-fmapr td.yes3-gutter-right-top, div.yes3-fmapr th.yes3-gutter-right-top {
    width: var(--yes3-fmapr-gutter-width); 
    min-width: var(--yes3-fmapr-gutter-width); 
    max-width: var(--yes3-fmapr-gutter-width); 
 
    vertical-align: top;
    text-align: right;
}
 
div.yes3-fmapr td.yes3-gutter-right-center, div.yes3-fmapr th.yes3-gutter-right-center {

    width: var(--yes3-fmapr-gutter-width); 
    min-width: var(--yes3-fmapr-gutter-width); 
    max-width: var(--yes3-fmapr-gutter-width); 
 
    vertical-align: middle;
    text-align: right;
}

/* mark row as unsaved */
tr.yes3-fmapr-data-element.yes3-unsaved td.yes3-fmapr-row-number {

    /*color: var(--yes3-message-color) !important;*/
    opacity: 1 !important;
}

tr.yes3-fmapr-data-element.yes3-unsaved td.yes3-fmapr-row-number::before {

    content: "*";
}

/**
 * all this to determine the color of the export item row label
 */
tr:not(.yes3-fmapr-new-field) span.yes3-fmapr-redcap-element {
    color: var(--yes3-fmapr-redcap-element-color);
    font-style: normal !important;
}

tr.yes3-fmapr-data-element.yes3-fmapr-redcap-form .yes3-fmapr-redcap-object-name,
tr.yes3-fmapr-data-element.yes3-fmapr-redcap-form .yes3-fmapr-redcap-object-type {
    color: var(--yes3-fmapr-redcap-form-color) !important;
}

tr.yes3-fmapr-data-element.yes3-fmapr-redcap-form .yes3-fmapr-redcap-object-event {
    color: var(--yes3-fmapr-redcap-form-color) !important;
}

tr.yes3-fmapr-data-element.yes3-fmapr-redcap-field .yes3-fmapr-redcap-object-event {
    color: var(--yes3-fmapr-redcap-field-color) !important;
}

tr.yes3-fmapr-data-element.yes3-fmapr-redcap-field:not(.yes3-fmapr-new-field) .yes3-fmapr-redcap-object-name, 
tr.yes3-fmapr-data-element.yes3-fmapr-redcap-field .yes3-fmapr-redcap-object-type
{
    color: var(--yes3-fmapr-redcap-field-color);
    font-weight: var(--yes3-font-weight);
}

tr.yes3-fmapr-data-element.yes3-fmapr-redcap-field.yes3-fmapr-new-field .yes3-fmapr-redcap-element {
    font-style: italic !important;
    color: var(--yes3-fmapr-new-item-label-color) !important;
    font-weight: var(--yes3-font-weight) !important;
}

tr.yes3-fmapr-data-element span.yes3-fmapr-field-label {
    color: var(--yes3-subdued-color) !important;
}

tr.yes3-fmapr-data-element.yes3-fmapr-specmap .yes3-fmapr-specmap-element {
    color: var(--yes3-fmapr-specmap-color) !important;
    font-weight: var(--yes3-font-weight) !important;
}

/*
tr:not(.yes3-fmapr-new-field) .yes3-fmapr-redcap-element:hover {
    cursor: pointer;
    color: var(--yes3-alert-color);
}
*/
.yes3-fmapr-row-selected {
    background-color: rgb(9, 63, 73, 0.25);
}

.yes3-fmapr-insertion-row {
    background-color: rgb(9, 63, 73, 0.25);
    border-top: 2px solid indianred;
}

a.yes3-fmapr-value-picker-toggler, a.yes3-fmapr-lov-toggler {
    opacity: 50% !important;
}

a.yes3-fmapr-value-picker-toggler {
    display:none;
}

tr.yes3-row-copied td.yes3-fmapr-redcap-object-type::before {
    /*content: "\25B6"; arrow */
    content: "\2714"; /* checkmark */
    font-size: 1.5;
    font-style: normal !important;
    vertical-align: middle;
    margin-right: 10px;
}

tr.yes3-row-cut td.yes3-fmapr-redcap-object-type::before {
    /*content: "\25B6"; arrow */
    content: "\2702"; /* scissors */
    font-size: 1.5em;
    font-style: normal !important;
    margin-right: 10px;
    vertical-align: middle;
}

tr.yes3-lov {
    display: none;
}

tr.yes3-fmapr-lov {
    display: none;
}
 
div.yes3-fmapr td.yes3-fmapr-lov {
    color: var(--yes3-fmapr-lov-color);
    font-weight: var(--yes3-font-weight) !important;
    font-style: italic;
}

div.yes3-fmapr td.yes3-fmapr-lov a {
    color: var(--yes3-fmapr-lov-color);
    text-decoration: none;
}


table.yes3-fmapr td.yes3-site-basis, table.yes3-fmapr th.yes3-site-basis {
    text-align: center;
}

table#yes3-fmapr-export-items-table {
    display: none;
}
 
 
input[type=text].yes3-fmapr-input-lov {
    margin-left: 10%;
    width: 90% !important;
}
 
div.yes3-fmapr-value-picker-wrapper {
    margin-left: 10%;
    width: 90% !important;
    display: none;
}

div#yes3-fmapr-settings {

    margin-top: var(--yes3-margin);
}

.yes3-fmapr-settings-block {

    display: none;
}

div.yes3-fmapr-filter-option {
    margin-top: calc( 0.5 * var(--yes3-margin) );
    margin-bottom: calc( 0.5 * var(--yes3-margin) );
    width: 100%;
}

div#yes3-fmapr-uspec-editor textarea {

    width: 100%;
    height: 500px;
    resize: vertical;
    background-color: var(--yes3-input-background-color);
    padding: 1rem;
    color: var(--yes3-input-color);
}

div#yes3-fmapr-uspec-editor {
    width: 50%;
    min-width: 440px;
}

.yes3-fmapr-export-uspec-json-length {
    margin-left: var(--yes3-margin);
    color: var(--yes3-nonessential-information-color);
}

/* remove the bootstrap padding on the settings form */

div#yes3-fmapr-settings div.col-md-6,
div#yes3-fmapr-footer   div.col-md-6 {
    padding-left: 0 !important;
}

table.yes3-fmapr-settings tr td:nth-child(1){
    width: 20em;
}

/* === item rapid entry form === */

tr#yes3-fmapr-rapidentry-row td {
    padding-top: var(--yes3-padding);
    padding-bottom: 0;
    padding-left: 0;
    border: 0;
    /* height: 200px !important; */
    vertical-align: top !important;
}

tr#yes3-fmapr-rapidentry-row td:not(.yes3-nopadding){
    padding-right: var(--yes3-padding);
}

tr#yes3-fmapr-rapidentry-row td.yes3-nopadding {
    padding-right: 0;
}

tr#yes3-fmapr-rapidentry-row select{
    width: 100%;
    border: 1px solid var(--yes3-input-border-color) !important;
    background-color: var(--yes3-input-background-color) !important;
    color: var(--yes3-input-color) !important;
    padding-top: var(--yes3-padding) !important;
    padding-bottom: var(--yes3-padding) !important;
    padding-right: 1px !important;
    padding-left: 1px !important;
}

tr#yes3-fmapr-rapidentry-row input#yes3-fmapr-rapidentry-object-name {
    /*
    width: calc( 100% - var(--yes3-padding) - 100px );
    min-width: 60px;
    */
    width: 100%;
    border: 1px solid var(--yes3-input-border-color) !important;
    background-color: var(--yes3-input-background-color) !important;
    color: var(--yes3-input-color) !important;
    padding: calc( var(--yes3-padding) + 1px) !important;
}

tr#yes3-fmapr-rapidentry-row input[type=button] {
    /*
    width: 100px;
    */
    border: 1px solid var(--yes3-input-border-color) !important;
    background-color: var(--yes3-fmapr-control-background-color) !important;
    color: var(--yes3-fmapr-control-color) !important;
    /*
    padding-top: calc( var(--yes3-padding) + 1px) !important;
    padding-bottom: calc( var(--yes3-padding) + 1px) !important;
    */
    height: 2.5em;
    padding-left:  1.25em;
    padding-right: 1.25em;
    border-radius: 1.25em;
}

tr#yes3-fmapr-rapidentry-row input[type=button]:hover {
    border: 1px solid var(--yes3-fmapr-control-color) !important;
    color: var(--yes3-fmapr-control-background-color) !important;
    background-color: var(--yes3-fmapr-control-color) !important;
}


/*  
    the first cell of the rapid entry form must have the combined width of the 'number' and 'editor link' cells
    of the item rows (currently, 4 gutter widths)
*/
tr#yes3-fmapr-rapidentry-row td:first-child {
    width: calc(4 * var(--yes3-fmapr-gutter-width)) !important; 
    min-width: calc(4 * var(--yes3-fmapr-gutter-width)) !important; 
    max-width: calc(4 * var(--yes3-fmapr-gutter-width)) !important; 
    padding: var(--yes3-padding);
}

 