@import "{{ site.theme }}";

footer {
    display: none !important;
}

div#header {
    display: none !important;
}

div#header a {
    display: none !important;
}

.btn {
    display: none !important;
}